{% extends "base.html" %}

{% block title %}Submit an idea{% endblock title %}

{% block content %}
    <h1>Submit an Idea</h1>

    <div>
        <form action="" method="post" role="form">{% csrf_token %}

            {{ form.non_field_errors|join:"<br>" }}

            <div class="form-group{% if form.title.errors %} has-error{% endif %}">
                <label for="{{ form.title.auto_id }}" class="control-label">Title</label>

                {% if form.title.errors %}<p class="control-label">{{ form.title.errors|join:"<br>" }}</p>{% endif %}
                <input required type="text" class="form-control" id="{{ form.title.auto_id }}" name="{{ form.title.html_name }}" placeholder="" value="{{ form.title.value|default:"" }}">
            </div>

            <div class="form-group{% if form.body.errors %} has-error{% endif %}">
                <label for="{{ form.body.auto_id }}" class="control-label">Body</label>
                {% if form.body.errors %}<p class="control-label">{{ form.body.errors|join:"<br>" }}</p>{% endif %}
                <textarea required class="form-control" id="{{ form.body.auto_id }}" name="{{ form.body.html_name }}" rows="20">{{ form.body.value|default:"" }}</textarea>
            </div>

            <button type="submit" class="btn btn-default">Create</button>
        </form>
    </div>
{% endblock content %}
